<h1>Acá crearemos nuestros artistas</h1>

<form action="/artists" method="post">
  <input type="text" name="name" placeholder="Artista">
  <input type="text" name="video_url" placeholder="Url">
  <input type="submit" placeholder="Crear">
</form>
